<!DOCTYPE html>
<html lang="en">

<head>
    <title>Seth's Profile</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container jumbotron">
        <div class="alert alert-success fade in">
            <a href="#" class="close" data-dismiss="alert"></a>
            <strong>Success!</strong> You are now Registerd!.
        </div>
        <h3>Whats Up {{user.first_name}} {{user.last_name}} </h3>
        <p>Email: {{user.email}}</p>
        <form action='/signOut' method='get'>
            <button type="submit" class="btn btn-default">Sign Out</button>
        </form>
    </div>
</body>

</html>